/*
====================================================
BASIC NOTES

All styles for mobile screen widths written first.
Larger screen widths are addressed in media queries 
================================================
*/


* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

:root{
    --bright-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);
    --dark-grayish-blue: hsl(227, 12%, 61%);
    --very-dark-blue: hsl(233, 12%, 13%);
    --pale-red: hsl(13, 100%, 96%);
    --light-gray: hsl(0, 0%, 98%);
}
a, a:hover, a:visited {
    text-decoration: none;
}

h1, h2, h3, h4 {
    color: var(--dark-blue);
}
h2{
    font-size: 30px;
}
p{
    color: var(--dark-grayish-blue);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8rem;;
}

body{
    min-width: 375px;
    /* width: 100%; */
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}



button, .button {
    background-color: var(--bright-red);
    padding: 12px 30px;
    border: 1px solid var(--bright-red);
    border-radius: 50px;
    color:white;
    box-shadow: 0 10px 8px rgba(242, 95, 58, 0.4);
    transition: all .3s ease-in-out;
}
.button:hover {
    /* filter: brightness(150%); */
    opacity: .7;
}
.button:active{
    animation: btn-click .3s ease-in;
}
@keyframes btn-click {
    0%{}
    25%{
        border: 4px solid rgb(245, 164, 144);
    }
    50%{
        border: 4px solid rgb(245, 164, 144);
        box-shadow: none;
    }
    75%{
        border: 4px solid rgb(245, 164, 144);
    }
    100%{}
}

.btn--light {
    background-color: white;
    color: var(--bright-red);
    box-shadow: none;
}

/* ========HEADER STYLES========= */
nav {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
}
.nav__wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
}


.hamburger {
    /* z-index: 4; */
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
}
.hamburger:hover{
    cursor: pointer;
}
.hamburger span{
    background-color: black;
    height: 4px;
width: 25px;
    transition: all .3s ease-in-out;
    transform-origin: 1px 2px;
}

.hamburger__open span:first-of-type {
   transform: rotate(45deg);
}
.hamburger__open span:nth-child(2){
   opacity: 0
}
.hamburger__open span:last-of-type {
    transform: rotate(-45deg);

}


.overlay{
    width: 100%;
    height: 85vh;
    /* z-index: -1; */
    background: linear-gradient(rgba(250, 250, 250, 0.1), var(--very-dark-blue));
    position: absolute;
    /* top: -1000px; */
    right: 1024px;
    opacity: 0;
    transition: all .1s ease-in-out;
}
.overlay__show{
    opacity: 0.5;
    top: 100px;
    right: 0;
}
.mobile__menu {
    position: absolute;
    z-index: 6;
    top: -500px;
    background-color: white;
    color: var(--dark-grayish-blue);
    width: 90%;
    height: 290px;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
.mobile__menu .nav__links {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.mobile__menu .nav__item {
    margin: 15px 0;
    color:hsl(228, 39%, 23%);
}
.mobile__menu__show {
    top: 100px;
}
.desktop__links {
    display: none;
    font-size: 14px;
}
.desktop__links + .nav__cta{
    display: none;
}

/* ............MAIN STYLES..........*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center; 
}
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 50px 0;
 }
.intro__img {
    width: 100%;
}
.text__content {
    width: 350px;
}
.intro h1 {
    font-size: 35px;
    margin: 2rem 0 1rem 0;
}
.intro p {
    margin-bottom: 3rem;
}
/* .intro__bkg{
    width: 300px;
    height: 600px;
    transform: rotate(45deg);
    opacity: .2;
    border-radius: 200px;
    background-color: var(--bright-red);
    position: relative;
    top: -200px;
} */

.difference {
    margin: 50px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.difference__intro{
    margin-bottom: 40px;
    text-align: center;
    width: 350px;
}
.difference__intro h2{
    font-size: 33px;
    margin-bottom: 20px;
}
.difference__intro p {
    font-size: 16px;

}
.differece__details {
    position: relative;
    left: 5px;
}
/* .diff{
   
} */
.diff__number {
    background-color: var(--bright-red);
    color:white;
    padding: 10px 25px;
    border: 1px solid var(--bright-red);
    border-radius: 50px;
}
.diff h3 {
    height: 30px;
    /* width: 400px; */
    font-size: 16px;
    margin-bottom: 20px;
    /* background: linear-gradient(to right,rgba(242, 95, 58, 0.1), rgba(242, 95, 58, 0.2)); */
}
.diff p {
    font-size: 16px;
    width: 360px;
}
.diff .background {
    background-color: var(--bright-red);
    opacity: .1;
    height: 40px;
    width: 100%;
    border-radius: 40px 0 0 40px;
    position: relative;
    top: 30px;
    /* right: 10px; */
}

.opinions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
.opinions__heading {
    margin-bottom: 4rem;
}
.opinions__heading h2{
    font-size: 30px;
}
.opinions__cta{
    margin-top: 60px;
}

.review__wrapper {
    /* margin-bottom: 40px; */
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
}
.review__wrapper::-webkit-scrollbar{
    display: none;
    /* width: 100px; */
}
.review {
    margin: 0 40px;
    min-width: 360px;  
    width: 100%;
    transition: all 1s ease-in-out;  
}
.review:first-of-type {
    margin-left: 10px;
}
.review img {
    width: 80px;
    margin-bottom: 1rem;
}
.review h4{
    margin-bottom: 1rem;
}
.review .comment {
    padding: 0 25px;

}
.review__background{
    width: 100%;
    height: 90%;
    padding: -10px;
    background-color: var(--light-gray);
    position: relative;
    top: -210px;
    z-index: -1;
    transition: all 1s ease-in-out;  

}

.indicator__container{
    width: 100%;
    display: flex;
    justify-content: center;
    /* position: relative; */
    /* top: -10px; */
}
.indicator__circle {
    width: 10px;
    height: 10px;
    border: 1px solid var(--bright-red);
    border-radius: 50%;
    margin: 0 2px;
    transition: all .3s ease-in-out;
}
.indicator__mark{
    background-color : var(--bright-red);
}
.indicator__circle:hover {
    cursor: pointer;
}
.arrows__container {
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -250px;
    opacity: 0;
    z-index: 5;
}
.arrows__container:hover{
    opacity: .4;
}
.arrow {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    /* opacity: 0.1; */
    background-color: var(--bright-red);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.arrow:hover {
    opacity: 1;
    transition: all .3s ease-in-out;
}
.d-none {
    display: none;
}
.arrow::before{
    content : "";
    width: 12px;
    height: 4px;
    background-color: white;
    transform: translateY(-1px) rotate(45deg);
}
.arrow::after{
    content : "";
    width: 12px;
    height: 4px;
    background-color: white;
    transform: translateY(1px) rotate(-45deg);
}
.arrow__left {
    transform: rotate(180deg);
}
.arrow--inactive{
    background-color: grey;
    cursor:crosshair;
}
.arrow--inactive::hover{
    opacity: 0.5;
}



.simplify {
    background-color: var(--bright-red);
    width: 100%;
    height: 400px;
    padding: 70px 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.simplify__text h2{
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}


footer {
    height: 540px;
    background-color: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    /* padding: 50px 10px; */
}
.footer__wrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.footer form{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
footer form input[type = "text"] {
    height: 45px;
    width: 270px;
    border-radius: 30px;
    padding-right: 20px;
    margin-right: 8px;
}

.footer__links {
    width: 80%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
   
}
.footer__links .links__column {
    display: flex;
    flex-direction: column;
}

.footer__links a{
    color: white;
    font-weight: 400;
    margin-bottom: 20px;
}
.footer__links a:hover{
    color: var(--bright-red);
}
footer .social__media {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 40px 50px;
}
.footer .social__media a{
    /* height: 30px; */
}
.social__media img {
    width: 33px;
}
.social__media img:hover {
    filter: invert(55%) sepia(40%) saturate(6370%) 
    hue-rotate(335deg) brightness(100%) contrast(93%);
}

.footer__logo {
    margin-bottom: 40px;
}
.footer__logo img {
    color: white;
    width: 160px;
}
.footer .copyright p{
    color: var(--dark-grayish-blue);
    font-size: 12px;
}









/* =============MEDIA QUERIES============== */
/* =============MEDIA QUERIES============== */
/* =============MEDIA QUERIES============== */

@media(min-width:640px){

}


/* ========1024px========= */
@media(min-width:1024px){
    .hamburger{
        display: none;
    }
    .nav__wrapper {
        width: 80%;
        justify-content:space-between;
        align-items: center;
    }
    .mobile__menu, .overlay {
        display: none;
    }
    .desktop__links{
        display: flex;
        width: 50%;
        justify-content: center;
        
    }
    .desktop__links .nav__item {
        color: var(--very-dark-blue);
        margin-right: 30px;
        transition: all .3s ease-in-out;
    }
    .desktop__links .nav__item:last-child{
        margin-right:0;
    }
    .desktop__links .nav__item:hover {
        color: var(--dark-grayish-blue);
    }
    .desktop__links + .nav__cta{
        display: inline-block;
        font-size: 14px;
    }
   /* .nav__cta:hover {
       opacity: .7;
   } */

   

   .intro {
       margin: 50px 0;
       width: 80%;
   }
   .intro__wrapper {
       width: 100%;
       flex-direction: row;
       justify-content: space-between;
       text-align: left;
   }
   .intro__img{
       order: 2;
       width: 50%;
   }
   .text__content {
       max-width: 40%;
   }
   .intro h1{
       font-size: 40px;
   }
   .intro p {
       width: 400px;
   }


   .difference {
       width: 80%;
       flex-direction: row;
       align-items: flex-start;
       justify-content: space-between;
   }
   .difference__intro{
        text-align: left;
        width: auto;
        width: 400px;
    }
    .difference__intro h2{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .difference__intro p {
        width: 350px;
    }
 
    .diff{
       width: 350px;
       margin-bottom: 40px;
    }
    .diff h3 {
        margin-bottom: 15px;
        position: relative;
        left: -75px;
    }
    .diff span {
        position: relative;
        left: -20px;
    }
    .diff p {
        font-size: 16px;
    }
    .diff .background {
        display: none;
    }


    .review__wrapper {
        width: 100%;
    }
    .review {
        width: 540px;
        margin-right: 10px;
        padding:  30px;
    }

    .review__background{
        top: -185px;
    }
    .indicator__container{
        display: none;
    }
    .opinions__cta {
        position: relative;
        top: -100px;
    }

    .simplify{
        flex-direction: row;
        height: 220px;
    }
    .simplify__text {
        width: 50%;
    }
    .simplify__text h2 {
        text-align: left;
    }


    footer{
        height: 250px;
    }
    .footer__wrapper {
        width: 80%;
        height: 100%;
        padding: 60px 0;
        display: grid;
        grid-template-columns: 1.5fr 2.5fr 2fr;
        /* grid-template-rows: 1fr; */
        align-items: flex-start;
    }
    .footer__logo {
        grid-column: 1/2;
        grid-row: 1/2
    }
    footer .social__media {
        /* background-color: red; */
        grid-column: 1/2;
        grid-row: 1/2;
        width: 200px;
        margin: 0;
        justify-self: flex-start;
        position: relative;
        top: 130px;
    }
    .social__media img{
        display: block;
        width: 21px;
        height: 21px;
        margin-right: 12px;
      
        /* width: 33px; */
    }
    .footer__links {
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 0;
        justify-self: center;
    }
    .footer form { 
        grid-column: 3/4;
        grid-row: 1/2;
        margin: 0;
        justify-self: flex-end;
    }
    .footer .copyright{
        grid-column: 3/4;
        grid-row: 1/2;
        position: relative;
        top: 120px;
        justify-self: flex-end;
    }
   .footer .copyright p {
    font-size: 14px;
   }


}


@media(min-width:1440px){
 

   
    
    /* .intro__wrapper{ width: 70%;} */
    .intro h1{
        font-size: 55px;

    }
    .text__content {
        width: 500px;
    }
    .intro p {
        width: 400px;
    }
    .difference__intro {
        width: 450px;
    }
    .diff{
        width: 400px;
     }
     .simplify__text {
        width: 45%;
    }

     
}
